*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
p,
ul,
li {
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 1rem;
}

.header__table {
  background-color: #6ead62;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
